<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Series</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>操作选项</th>
        </tr>
      </thead>

      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.book.series %></td>
            <td><%= cart_item.book.price %></td>
            <td>
              <%= form_for cart_item, url: cart_item_path(cart_item.book_id) do |f| %>
                <%= f.select :quantity, [0,1,2,3,4,5,6] %>
                <%= f.submit "更新", data: { disable_with: "Submiting..." }, class: "btn btn-xs btn-default" %>
              <% end %>
            </td>
            <td>
              <%= link_to("delete", cart_item_path(cart_item.book_id), method: :delete,
                          class: "btn btn-xs btn-default") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="total clearfix">
      <span class="pull-right">
         <span> 总计 $<%= render_cart_total_price(current_cart) %>  </span>
      </span>
    </div>

    <hr>

    <div class="checkout clearfix">
      <%= link_to("确认结账", "#", class: "btn btn-default pull-right") %>
    </div>
  </div>
</div>
